* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none
}

:root {
    --cs-orange: #ea4f32;
    --cs-purple: #81003f;
    --cs-green: #209ea3;
    --cs-text: #212121;
    --cs-bg: #f2f8f9;
    --cs-white: #fff;
    --cs-border: #c5c4c47a
}

h1 {
    font-size: 50px;
    font-weight: 800
}

h2 {
    font-size: 32px;
    font-weight: 600
}

.btn-cta,
.nav-link,
h3,
h4 {
    font-weight: 500
}

h3 {
    font-size: 28px;
    padding-bottom: 15px
}

h4 {
    font-size: 18px;
    padding-bottom: 10px
}

img{
    aspect-ratio: attr(width) / attr(height);
}

.bg,
.header {
    background-color: var(--cs-bg)
}

.content_img img,
.prod_content {
    box-shadow: rgba(0, 0, 0, .184) 0 30px 80px 0
}

.btn-cta:hover,
.how_card:hover {
    transform: scale(1.02)
}

.btn-cta,
.how_card,
.nav-link,
.social li a i {
    transition: .2s ease-in-out, .2s ease-in-out
}

.social li a i,
.usage_list li i,
.why li i {
    width: 40px;
    height: 40px
}

.nav-link,
p {
    font-size: 16px
}

p {
    font-weight: 400;
    color: var(--cs-text)
}

.smhead {
    color: var(--cs-orange);
    position: relative;
    width: 20%;
    margin: auto auto 10px;
    text-transform: capitalize
}

.smhead::before {
    left: 0
}

.smhead::after {
    right: 0
}

.smhead::after,
.smhead::before {
    width: 25%;
    height: 2px;
    background: var(--cs-orange);
    top: 50%;
    position: absolute;
    display: block;
    content: ""
}

.cp60 {
    padding: 60px 15px
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    border-bottom: 1px solid var(--cs-border)
}

.mobile_nav {
    display: none !important
}

.desktop_nav {
    justify-content: space-between;
    align-items: center;
    padding: 0 20px
}

.check,
.hero .row {
    align-items: center
}

.navbar-brand img {
    width: 150px;
    margin: auto
}

.nav-item {
    padding: 0 10px
}

.nav-link {
    color: var(--cs-purple)
}

.btn-cta:hover,
.fm,
.nav-link:hover,
.star i,
strike {
    color: var(--cs-orange)
}

.desktop_nav .navbar-collapse {
    width: 40% !important
}

.hero {
    background: url("../images/hero.webp") center center/cover no-repeat;
    position: relative
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(32, 158, 163, .8) 0, rgba(129, 0, 63, .5) 50%, rgba(234, 79, 50, .2) 100%)
}

.custom-shape-divider-bottom-1708679419 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0
}

.hero_content,
.prod_info {
    width: 80%;
    margin: auto;
    position: relative
}

.custom-shape-divider-bottom-1708679419 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px
}

.custom-shape-divider-bottom-1708679419 .shape-fill {
    fill: rgb(255, 255, 255);
    z-index: 0
}

.hero .row {
    min-height: 85vh
}

.hero_content {
    z-index: 20;
    text-align: center;
    color: var(--cs-white);
    padding: 80px 0
}

.hero_content h2 {
    font-size: 30px;
    margin: 30px 0
}

.check {
    display: flex;
    justify-content: center
}

.check img {
    width: 60px;
    padding-right: 10px
}

.prod_img {
    position: relative;
    z-index: 20;
    text-align: right
}

.prod_img img {
    width: 55%
}

.adjust2,
.prod_img2,
.use-carousel .owl-dots.disabled {
    display: none
}

.prod_info .row {
    min-height: auto;
    align-items: center
}

.pro img {
    width: 70% !important
}

.footer_content img,
.prod_info img {
    width: 200px
}

.prod_info h2 {
    color: #bf1067;
    font-weight: 700;
    margin: 0 0 12px
}

.prod_content h4,
.prod_content p {
    color: var(--cs-text)
}

.prod_content {
    margin-top: 40px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    background-color: #fde9f4
}

.prod_content h4 {
    padding: 12px 0 16px;
    font-size: 25px;
    font-weight: 600
}

.benefit_content ul li,
.how_card img {
    padding-bottom: 10px
}

strike {
    font-size: 18px
}

.btn-cta {
    padding: 12px 40px;
    border-radius: 0;
    background-color: var(--cs-orange);
    color: var(--cs-white);
    border: 2px solid transparent
}

.btn-cta:hover {
    border: 2px solid var(--cs-orange);
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, .2) 0 20px 40px 12px
}

.accordion-button:not(.collapsed),
.usage_list li i,
.use-carousel .owl-nav .owl-next i:hover,
.use-carousel .owl-nav .owl-prev i:hover,
.why li i {
    color: var(--cs-white);
    background-color: var(--cs-purple)
}

.benefits {
    margin-top: -50px;
    padding: 0 15px 60px;
    position: relative;
    z-index: 10
}

.fa-star-of-life {
    color: var(--cs-purple);
    font-size: 11px
}

.content_img img {
    width: 80%;
    border-radius: 20px
}

.benefit_content ul li i {
    color: var(--cs-purple);
    padding-right: 10px
}

.highlight {
    font-size: 20px;
    background-color: var(--cs-bg);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 30px
}

.how_content {
    width: 80%
}

.stamp {
    width: 150px
}

.how_card {
    border: 1px solid var(--cs-border);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    min-height: 265px
}

.how_card img {
    width: 50px;
    fill: var(--cs-orange)
}

.how_card p,
.slider_content p,
.why li p {
    font-size: 14px
}

.cta h4,
.slider_content h3 {
    font-size: 25px
}

.slider_content {
    padding: 30px;
    min-height: 315px;
    border-radius: 20px;
    border: 1px solid var(--cs-border);
    background-image: url("../images/quote-svgrepo-com.svg");
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--cs-bg) !important
}

.owl-carousel .owl-dots .disabled {
    display: flex
}

.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px
}

.owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: rgba(255, 109, 64, .44);
    margin: 5px
}

.owl-carousel .owl-dots .active span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: var(--cs-orange)
}

.use_img .col img {
    width: 80%;
    margin: auto
}

.usage_list li {
    margin-bottom: 30px
}

.usage_list li i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-bottom: 10px
}

.usage_list2 {
    text-align: right
}

#backtotopbutton,
.clarity .col,
.cta,
.footer_content {
    text-align: center
}

.usage_list2 li i {
    margin-left: auto
}

.clarity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 65px auto auto
}

.accordion-item,
.why li {
    margin-bottom: 20px
}

.use-carousel .owl-nav.disabled {
    display: block
}

.use-carousel .owl-nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    bottom: -50px
}

.use-carousel .owl-nav .owl-next i,
.use-carousel .owl-nav .owl-prev i {
    background-color: transparent;
    border: 1px solid var(--cs-purple);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cs-purple);
    border-radius: 5px;
    margin: 5px
}

.clarity .col img {
    width: 50px;
    height: 50px;
    object-fit: contain
}

.clarity .col p {
    font-size: 14px;
    margin-top: 10px
}

.accordion-button {
    background-color: var(--cs-bg);
    border-radius: 0;
    border: 1px solid var(--cs-border)
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--cs-bg);
    border: transparent;
    border-radius: 0
}

.cta,
.cta p {
    color: var(--cs-white) !important
}

.accordion-body {
    background-color: var(--cs-white);
    border: 1px solid var(--cs-border)
}

.accordion-button:not(.collapsed) {
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color)
}

.accordion-button:focus {
    z-index: 3;
    outline: 0;
    border: 1px solid var(--cs-border) !important;
    box-shadow: none !important
}

.why li i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 10px
}

.why_img {
    position: relative
}

.why_img img {
    width: 80%;
    padding: 15px
}

.endor {
    position: absolute;
    bottom: 0;
    right: 20px;
    z-index: 10;
    width: 150px !important
}

.cta,
.purchase {
    position: relative
}

.purchase {
    background: url("../images/IMG_3523.webp") center center/cover no-repeat
}

.purchase .row {
    min-height: 50vh;
    align-items: center
}

.purchase::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, .76);
    z-index: 0
}

.cta {
    z-index: 1;
    width: 60%;
    margin: auto
}

.cta h2 {
    line-height: 45px
}

.cta p {
    margin: 20px 0
}

.cta h4 {
    padding: 16px 0 20px;
    font-weight: 600;
    color: var(--cs-white)
}

.footer {
    background: var(--cs-text);
    padding: 30px 0
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px
}

.social li a i {
    font-size: 20px;
    padding: 10px;
    color: var(--cs-bg);
    border: 1px solid var(--cs-border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px
}

.social li a i:hover {
    color: var(--cs-white);
    background-color: var(--cs-purple);
    border: 1px solid var(--cs-purple);
    transform: scale(1.15)
}

.footer_content hr {
    color: var(--cs-border)
}

.cc h4 {
    color: var(--cs-text);
    font-size: 14px;
    width: 60%;
    line-height: 20px;
    font-weight: 400;
    margin: auto;
    background-color: #f5f5f5;
    padding: 10px 5px;
    border-radius: 5px
}

.cc p {
    margin-top: 10px;
    font-size: 12px;
    color: var(--cs-border)
}

#backtotopbutton {
    background-color: var(--cs-orange);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center
}

#backtotopbutton:hover {
    cursor: pointer;
    background-color: var(--cs-purple)
}

#backtotopbutton:active {
    background-color: var(--cs-purple)
}

#backtotopbutton.show {
    opacity: 1;
    visibility: visible
}