* {
    margin: 0px;
    padding: 0px;
    font-family: Montserrat, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

:root {
    --cs-orange: #ea4f32;
    --cs-purple: #81003f;
    --cs-green: #209ea3;
    --cs-text: #212121;
    --cs-bg: #f2f8f9;
    --cs-white: #fff;
    --cs-border: #c5c4c47a;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 15px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: var(--cs-text);
}

.smhead {
    color: var(--cs-orange);
    position: relative;
    width: 20%;
    margin: auto auto 10px;
    text-transform: capitalize;
}

.smhead::before {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background: var(--cs-orange);
    left: 0px;
    top: 50%;
    position: absolute;
}

.smhead::after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background: var(--cs-orange);
    right: 0px;
    top: 50%;
    position: absolute;
}

.cp60 {
    padding: 60px 15px;
}

.bg {
    background-color: var(--cs-bg);
}

.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 10px 0px;
    background-color: var(--cs-bg);
    border-bottom: 1px solid var(--cs-border);
}

.mobile_nav {
    display: none !important;
}

.desktop_nav {
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navbar-brand img {
    width: 150px;
    margin: auto;
}

.nav-item {
    padding: 0px 10px;
}

.nav-link {
    color: var(--cs-purple);
    font-weight: 500;
    font-size: 16px;
    transition: all 0.2s ease-in-out 0s, all 0.2s ease-in-out 0s;
}

.nav-link:hover {
    color: var(--cs-orange);
}

.desktop_nav .navbar-collapse {
    width: 40% !important;
}

.hero {
    background: url("../images/hero.jpg") center center / cover no-repeat;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(32, 158, 163, 0.8) 0%, rgba(129, 0, 63, 0.5) 50%, rgba(234, 79, 50, 0.2) 100%);
}

.custom-shape-divider-bottom-1708679419 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708679419 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1708679419 .shape-fill {
    fill: rgb(255, 255, 255);
}

.hero .row {
    min-height: 100vh;
    align-items: center;
}

.hero_content {
    position: relative;
    z-index: 20;
    text-align: center;
    color: var(--cs-white);
    width: 80%;
    margin: auto;
}

.hero_content h2 {
    font-size: 30px;
    margin: 30px 0px;
}

.prod_img {
    position: relative;
    z-index: 20;
    text-align: right;
}

.prod_img img {
    width: 55%;
}

.prod_img2 {
    display: none;
}

.prod_info .row {
    min-height: auto;
    align-items: center;
}

.prod_info {
    width: 80%;
    margin: auto;
    position: relative;
}

.pro img {
    width: 70% !important;
}

.prod_info img {
    width: 200px;
}

.prod_info h2 {
    color: rgb(191, 16, 103);
    font-weight: 700;
    margin: 0px 0px 12px;
}

.prod_content {
    margin-top: 40px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(253, 233, 244);
    box-shadow: rgba(0, 0, 0, 0.184) 0px 30px 80px 0px;
}

.prod_content p {
    color: var(--cs-text);
}

.prod_content h4 {
    padding: 12px 0px 16px;
    font-size: 25px;
    font-weight: 600;
    color: var(--cs-text);
}

strike {
    color: var(--cs-orange);
    font-size: 18px;
}

.btn-cta {
    padding: 12px 40px;
    border-radius: 0px;
    background-color: var(--cs-orange);
    color: var(--cs-white);
    border: 2px solid transparent;
    font-weight: 500;
    transition: all 0.2s ease-in-out 0s, all 0.2s ease-in-out 0s;
}

.btn-cta:hover {
    border: 2px solid var(--cs-orange);
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px 12px;
    transform: scale(1.02);
    color: var(--cs-orange);
}

.benefits {
    margin-top: -20px;
    padding: 0px 15px 60px;
}

.content_img img {
    width: 80%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.184) 0px 30px 80px 0px;
}

.benefit_content ul li {
    padding-bottom: 10px;
}

.benefit_content ul li i {
    color: var(--cs-purple);
    padding-right: 10px;
}

.highlight {
    font-size: 20px;
    background-color: var(--cs-bg);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 30px;
}

.highlight i {
    color: var(--cs-purple);
    font-size: 20px;
}

.how_content {
    width: 80%;
}

.stamp {
    width: 150px;
}

.how_card {
    border: 1px solid var(--cs-border);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    min-height: 265px;
    transition: all 0.2s ease-in-out 0s, all 0.2s ease-in-out 0s;
}

.how_card:hover {
    transform: scale(1.02);
}

.how_card img {
    width: 50px;
    fill: var(--cs-orange);
    padding-bottom: 10px;
}

.how_card p {
    font-size: 14px;
}

.slider_content h3 {
    font-size: 25px;
}

.slider_content {
    padding: 30px;
    min-height: 315px;
    border-radius: 20px;
    border: 1px solid var(--cs-border);
    background-image: url("../images/quote-svgrepo-com.svg");
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--cs-bg) !important;
}

.slider_content p {
    font-size: 14px;
}

.star i {
    color: var(--cs-orange);
}

.owl-carousel .owl-dots .disabled {
    display: flex;
}

.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: rgba(255, 109, 64, 0.44);
    margin: 5px;
}

.owl-carousel .owl-dots .active span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: var(--cs-orange);
}

.use_img .col img {
    width: 80%;
    margin: auto;
}

.usage_list {}

.usage_list li {
    margin-bottom: 30px;
}

.usage_list li i {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cs-purple);
    border-radius: 50px;
    color: var(--cs-white);
    margin-bottom: 10px;
}

.usage_list2 {
    text-align: right;
}

.usage_list2 li i {
    margin-left: auto;
}

.clarity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 65px auto auto;
}

.use-carousel .owl-dots.disabled {
    display: none;
}

.use-carousel .owl-nav.disabled {
    display: block;
}

.use-carousel .owl-nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    bottom: -50px;
}

.use-carousel .owl-nav .owl-prev i,
.use-carousel .owl-nav .owl-next i {
    background-color: transparent;
    border: 1px solid var(--cs-purple);
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cs-purple);
    border-radius: 5px;
    margin: 5px;
}

.use-carousel .owl-nav .owl-prev i:hover,
.use-carousel .owl-nav .owl-next i:hover {
    background-color: var(--cs-purple);
    color: var(--cs-white);
}

.clarity .col {
    text-align: center;
}

.clarity .col img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.clarity .col p {
    font-size: 14px;
    margin-top: 10px;
}

.accordion-button {
    background-color: var(--cs-bg);
    border-radius: 0px;
    border: 1px solid var(--cs-border);
}

.accordion-item {
    color: var(--bs-accordion-color);
    background-color: var(--cs-bg);
    border: transparent;
    margin-bottom: 20px;
    border-radius: 0px;
}

.accordion-body {
    background-color: var(--cs-white);
    border: 1px solid var(--cs-border);
}

.accordion-button:not(.collapsed) {
    color: var(--cs-white);
    background-color: var(--cs-purple);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 3;
    outline: 0px;
    border: 1px solid var(--cs-border) !important;
    box-shadow: none !important;
}

.why li {
    margin-bottom: 20px;
}

.why li i {
    background-color: var(--cs-purple);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cs-white);
    border-radius: 5px;
    margin-bottom: 10px;
}

.why li p {
    font-size: 14px;
}

.why_img {
    position: relative;
}

.why_img img {
    width: 80%;
    padding: 15px;
}

.endor {
    position: absolute;
    bottom: 0px;
    right: 20px;
    z-index: 10;
    width: 150px !important;
}

.adjust2 {
    display: none;
}

.purchase {
    background: url("../images/IMG_3523.JPG") center center / cover no-repeat;
    position: relative;
}

.purchase .row {
    min-height: 50vh;
    align-items: center;
}

.purchase::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.76);
    z-index: 0;
}

.cta {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 60%;
    margin: auto;
    color: var(--cs-white) !important;
}

.cta h2 {
    line-height: 45px;
}

/* .cta img{
    background-color:#fce9f4;
    border-radius: 10px;
    width: 150px;
} */

.fm{
    color: #fce9f4;
}

.cta p {
    margin: 20px 0px;
    color: var(--cs-white) !important;
}

.cta h4 {
    padding: 16px 0px 20px;
    font-size: 25px;
    font-weight: 600;
    color: var(--cs-white);
}

.footer {
    background: var(--cs-text);
    padding: 30px 0px;
}

.footer_content {
    text-align: center;
}

.footer_content img {
    width: 200px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.social li a i {
    font-size: 20px;
    padding: 10px;
    color: var(--cs-bg);
    transition: all 0.2s ease-in-out 0s, all 0.2s ease-in-out 0s;
    width: 40px;
    height: 40px;
    border: 1px solid var(--cs-border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
}

.social li a i:hover {
    color: var(--cs-white);
    background-color: var(--cs-purple);
    border: 1px solid var(--cs-purple);
    transform: scale(1.15);
}

.footer_content hr {
    color: var(--cs-border);
}

.cc h4 {
    color: var(--cs-text);
    font-size: 14px;
    width: 60%;
    line-height: 20px;
    font-weight: 400;
    margin: auto;
    background-color: rgb(245, 245, 245);
    padding: 10px 5px;
    border-radius: 5px;
}

.cc p {
    margin-top: 10px;
    font-size: 12px;
    color: var(--cs-border);
}

#backtotopbutton {
    background-color: var(--cs-orange);
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color 0.3s ease 0s, opacity 0.5s ease 0s, visibility 0.5s ease 0s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#backtotopbutton:hover {
    cursor: pointer;
    background-color: var(--cs-purple);
}

#backtotopbutton:active {
    background-color: var(--cs-purple);
}

#backtotopbutton.show {
    opacity: 1;
    visibility: visible;
}