* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --cs-orange: #ea4f32;
    --cs-purple: #81003f;
    --cs-green: #209ea3;
    --cs-text: #212121;
    --cs-bg: #f2f8f9;
    --cs-white: #fff;
    --cs-border: #c5c4c4;
}

h1 {
    font-size: 50px;
    font-weight: 800;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 15px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.smhead {
    color: var(--cs-orange);
    position: relative;
    width: 20%;
    margin: auto;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.smhead:before {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background: var(--cs-orange);
    left: 0;
    top: 50%;
    position: absolute;
}

.smhead:after {
    content: "";
    display: block;
    width: 25%;
    height: 2px;
    background: var(--cs-orange);
    right: 0;
    top: 50%;
    position: absolute;
}

.cp60 {
    padding: 60px 15px;
}

.bg {
    background-color: var(--cs-bg);
}

/* header ======================*/
.header {

    padding: 10px 0px;
    background-color: var(--cs-bg);
}

.mobile_nav {
    display: none !important;
}

.desktop_nav {
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.navbar-brand img {
    width: 150px;
    margin: auto;
}

.nav-item {
    padding: 0px 10px;
}

.nav-link {
    color: var(--cs-purple);
    font-weight: 500;
    font-size: 16px;
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.nav-link:hover {
    color: var(--cs-orange);
}

.desktop_nav .navbar-collapse {
    width: 40% !important;
}

/* header end ======================== */

/* hero starts ======================== */
.hero {
    background: url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32, 158, 163);
    background: linear-gradient(90deg, rgba(32, 158, 163, 0.8) 0%, rgba(129, 0, 63, 0.5) 50%, rgba(234, 79, 50, 0.2) 100%);
}

.custom-shape-divider-bottom-1708490251 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1708490251 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 203px;
}

.custom-shape-divider-bottom-1708490251 .shape-fill {
    fill: #FFFFFF;
}

.hero .row {
    min-height: 60vh;
    align-items: center;
}

.hero_content {
    position: relative;
    z-index: 20;
    text-align: center;
    width: 80%;
    margin: auto;
    color: var(--cs-white);
}

.hero_content h2 {
    font-size: 30px;
    margin: 30px 0px;
}

.btn-cta {
    padding: 15px 40px;
    border-radius: 0px;
    background-color: var(--cs-orange);
    color: var(--cs-white);
    border: 2px solid transparent;
    font-weight: 500;
    transition: .2s all ease-in-out, .2s all ease-in-out;
}

.btn-cta:hover {
    border: 2px solid var(--cs-orange);
    background-color: transparent;
    box-shadow: 0px 20px 40px 12px #00000052;
}

/* hero ends======================  */

/* benefits start================= */
.content_img img {
    width: 80%;
    border-radius: 20px;
    box-shadow: 0px 30px 80px 0px #00000059;
}

.benefit_content ul li {
    padding-bottom: 10px;
}

.benefit_content ul li i {
    color: var(--cs-purple);
    padding-right: 10px;
}

.highlight {
    font-size: 20px;
    background-color: var(--cs-bg);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    line-height: 30px;
}

.highlight i {
    color: var(--cs-purple);
    font-size: 20px;
}

/* benefits ends=========================== */

/* .how it works============================ */
.how_content {
    width: 80%;
}

.stamp {
    width: 150px;
}

.how_card {
    border: 1px solid var(--cs-border);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    min-height: 265px;
}

.how_card img {
    width: 50px;
    fill: var(--cs-orange);
    padding-bottom: 10px;
}

.how_card p {
    font-size: 14px;
}

/* .how it ends============================ */

/* testimonials starts ==========*/
.slider_content {
    background-color: var(--cs-bg) !important;
    padding: 30px;
    border-radius: 20px;
    /* box-shadow: 0px 20px 30px 10px #0000000c; */
    border: 1px solid var(--cs-border);
    background: url(../images/quote-svgrepo-com.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider_content p {
    font-size: 14px;
}

.star i {
    color: var(--cs-orange);
}

.owl-carousel .owl-dots .disabled {
    display: flex;
}

.owl-carousel .owl-dots {
    display: flex;
    align-items: center;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    bottom: -40px;
}

.owl-carousel .owl-dots .owl-dot span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #ff6d4070;
    margin: 5px;
}

.owl-carousel .owl-dots .active span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: var(--cs-orange);
}

/* testimonials ends=================== */

/* direction starts===================== */
.use_img img {}

.usage_list {}

.usage_list li {
    margin-bottom: 30px;
}

.usage_list li i {

    width: 40px;

    height: 40px;

    display: flex;

    align-items: center;

    justify-content: center;

    background-color: var(--cs-purple);

    border-radius: 50px;

    color: var(--cs-white);

    margin-bottom: 10px;
}

.usage_list2 {
    text-align: right;
}

.usage_list2 li i {
    margin-left: auto;
}

.hl{
    width: 40%;
    margin: auto;
    text-align: center;
    line-height: 30px;
}